/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

nav {
    background: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

/* Tiny Tweaks */
.columna1 {
    padding: 10px;
    width: 100%;
}

@media (min-width: 600px) {
    .columna1 {
        padding: 20px;
        font-size: 1.25em;
    }
}

@media (min-width: 800px) {
    .columna1 {
        padding: 40px;
        font-size: 1.5em; /* Fuente más grande en pantallas grandes */
    }
}
