/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

nav {
    background: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

section {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}

/* Layout Shifter */
.container {
    display: flex;
    flex-flow: row wrap;
}

.columna1,
.columna2,
.columna3,
.container-inner {
    width: 100%;
}

@media (min-width: 600px) {

    /* Cambio drástico: columna 1 fija a la izquierda ocupando todo el alto */
    .columna1 {
        width: 25%;
        height: 100vh;
        /* Ocupa todo el alto */
    }

    .container-inner {
        width: 75%;
    }
}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}